footer {
  width: 100%;
  background: $secondaryBG;
  padding: rem(15px);
}

.footer__wrap {
  padding: 0 rem(15px);
  @include break(phablet) {
    max-width: rem(1200px);
    margin: 0 auto;
  }
}

.footer__links {
  align-self: center;
}
