header {
  width: 100%;
  margin: 0 auto rem(20px);
  padding: rem(5px) 0 0;
  border-bottom: 2px solid $gooOrange;

  .header__wrap {
    @include grid(1fr, repeat(2, auto), rem(10px));
    grid-template-areas:
    "logo"
    "menu";
    margin: 0;

    @include break(phablet) {
      @include grid(1fr 3fr, 1fr, rem(10px));
      grid-template-areas: "logo menu";
      max-width: rem(1200px);
      margin: 0 auto;
    }
  }

  .header__logo {
    grid-area: logo;
  }

  .header__logo-img {
    width: 100%;
    padding-left: rem(15px);
    @include break(phablet) {
      max-width: rem(300px);
    }
  }

  .header__menu {
    background: $gooOrange;
    grid-area: menu;
    justify-self: center;
    align-self: center;
    width: 100%;
    margin-top: rem(15px);
    @include break(phablet) {
      justify-self: end;
      width: auto;
      margin-top: 0;
    }
  }
}
