@mixin grid($cols: "", $rows: "", $gap: "", $width: auto) {
  width: $width;
  display: grid;
  @if $cols != "" {
    grid-template-columns: $cols;
  }
  @if $rows != "" {
    grid-template-rows: $rows;
  }
  @if $gap != "" {
    grid-gap: $gap;
  }
}


@mixin underline() {
  position: relative;
  text-decoration: none;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: rem(1px);
    bottom: 10px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}


/*********************
BREAKPOINTS
*********************/
// phablet = 600px
// tablet = 800px
// laptop = 1024px
// desktop = 1120px


 @mixin break($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
}
