// Custom Variables
$fonts: 'Lato', sans-serif;
$fontsTitle: 'Playball', cursive;
$fontsSubTitle: 'Raleway', sans-serif;
$mainBG : rgba(255,255,255,.75);
$secondaryBG : rgba(109,109,109,.1);
$overlayBG : rgba(109,109,109,.5);
$dkGrey: #696969;
$ltGrey: #ccc;
$pinkSolid: #E7B6CC;
$purple: #693065;
$pink30: rgba(231, 182, 204, 0.3);
$pink50: rgba(231, 182, 204, 0.5);
$pink70: rgba(231, 182, 204, 0.7);

$break900: 900px;
$break600: 600px;
