// Custom Variables
$fonts: 'Lato', sans-serif;
$fontsTitle: 'Playball', cursive;
$fontsSubTitle: 'Raleway', sans-serif;

$gooOrange: #ef7f1b;
$gooOrangeDk: #f15d22;

$mainBG : rgba(255,255,255,.75);
$secondaryBG : rgba(109,109,109,.1);
$overlayBG : rgba(109,109,109,.5);
$dkGrey: #696969;
$ltGrey: #ccc;
